<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../assets/stylesheets/login.css">
    <title> Reset Password </title>
</head>

<body>

    <div id="reset_form" class="reset form">

        <div class="header">
            <h1>forgot password?</h1>
            <p>enter your email and we'll send you a link to get back into your account.</p>
        </div>

        <div class="body">
            <form>
                <div class="item">
                    <input type="email" placeholder="example@gmail.com" required>
                </div>

                <div class="item">
                    <button type="submit" class="ripple">reset</button>
                </div>
            </form>
        </div>

        <div class="footer">
            <a href='/projects/pages/login/index.html'>Log in</a> |
            <a href='/projects/pages/login/views/signup.html'>Create account</a>
        </div>

    </div>

    <footer>
        <div>
            <ul>
                <li class="tc"><a href="#">terms & conditions</a></li> |
                <li class="pc"><a href="#">privacy policy</a></li> |
                <li class="cw"> 😎 🔥 &copy 2019. All rights reserved.</li>
            </ul>
        </div>
    </footer>

    <!-- load js -->
    <script src="https://unpkg.com/nprogress@0.2.0/nprogress.js"></script>
    <script src="../assets/js/reset.js"></script>
</body>

</html>