@import './variables.scss';
@import '../../node_modules/css-ripple-effect/dist/ripple.min.css';
@import url(https://fonts.googleapis.com/css?family=Abel:regular);
@import url(https://fonts.googleapis.com/css?family=Comfortaa:300,regular,700);
html {
    background-color: #fff;
}

body {
    margin: 0;
    color: $primary-color;
    font-family: 'Abel';
    a {
        color: $primary-color;
    }
}

#login_form {
    position: relative;
    top: 90px;
    width: 400px;
    margin: auto;
    padding: 42px;
    border: 1px solid $form-border-color;
    border-radius: 25px 1px;
    text-align: center;
    box-shadow: $shadow-2;
    div,
    header {
        margin-bottom: 20px;
    }
    header {
        text-align: left;
        padding: 5px;
        h1 {
            margin: 0;
            font-size: 2.7rem;
            font-weight: 100;
            font-family: 'Comfortaa';
        }
        p {
            margin-bottom: 0
        }
    }
    button {
        width: 100%;
        height: 44px;
        border-radius: 5px;
        background-color: $primary-color;
        color: $button-text-color;
        text-transform: capitalize;
        font-size: 13px;
        cursor: pointer;
        box-shadow: $shadow-2;
        outline: none;
    }
    input[type=email],
    input[type=password] {
        width: 100%;
        padding: 0 10px;
        border-radius: 5px;
        height: 44px;
        border: 1px solid $form-border-color;
        font-size: 1rem;
        font-family: 'Abel';
        outline: none;
        box-sizing: border-box;
    }
    input[type=email]:focus,
    input[type=password]:focus {
        border: 1px solid $primary-color;
    }
}

footer {
    background-color: $form-border-color;
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        li {
            text-transform: capitalize;
            display: inline;
            padding: 5px;
        }
    }
}