@import './variables.scss';
// NProgress
#nprogress {
    .bar {
        background: $progress-color;
    }
    .peg {
        box-shadow: 0 0 10px $progress-color, 0 0 5px $progress-color;
    }
    .spinner-icon {
        border-top-color: $progress-color;
        border-left-color: $progress-color;
    }
}

// Iti
.intl-tel-input {
    width: 100%;
}

.iti-flag {
    background-image: url("../images/flags.png");
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .iti-flag {
        background-image: url("../images/flags@2x.png");
    }
}