// colors
$primary-color: #009688;
$form-border-color: #eaeced;
$button-text-color: #fff;
// box-shadow
$shadow-1: 0px -6px;
$shadow-2: 0 2px 4px 0 rgba(0, 0, 0, 0.16),
0 2px 10px 0 rgba(0, 0, 0, 0.12)!important;
$shadow-3: 5px 10px $form-border-color;